<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <span>
    <button mat-button routerLink="/"></button>
    <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
  </span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <button mat-button (click)="cerrarSesion()">
      <mat-icon>exit_to_app</mat-icon>
      Cerrar Sesion
    </button>
    </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/">
    <mat-icon>home</mat-icon>
    Home
  </button>


  <button mat-menu-item  (click)="cerrarSesion()">
    <mat-icon>exit_to_app</mat-icon>
    Cerrar Sesion
  </button>

</mat-menu>

<div class="table">
  <div class="mat-elevation-z8">
    <div class="demo-button-container" class="divbotton">

        <button mat-raised-button color="primary" (click)="agregarPacientes()" class="demo-button"
        >Agregar</button>
                  <button mat-mini-fab matTooltip="Primary" color="primary" aria-label="Example mini fab with a heart icon" (click)="downloadData()" >
            <mat-icon>get_app</mat-icon>
           </button>


    </div>


    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="Nombre_paciente">
        <th mat-header-cell *matHeaderCellDef> Nombre del Paciente </th>
        <td mat-cell *matCellDef="let element"> {{element.mascota.nomMascota}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Especie">
        <th mat-header-cell *matHeaderCellDef> Especie </th>
        <td mat-cell *matCellDef="let element"> {{element.mascota.especieMascota}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Raza">
        <th mat-header-cell *matHeaderCellDef> Raza </th>
        <td mat-cell *matCellDef="let element"> {{element.mascota.razaMascota}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Fecha_Nacimiento">
        <th mat-header-cell *matHeaderCellDef> Fecha de Nacimiento </th>
        <td mat-cell *matCellDef="let element"> {{element.mascota.fecNacMascota}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Color_Mascota">
        <th mat-header-cell *matHeaderCellDef> Color de La Mascota </th>
        <td mat-cell *matCellDef="let element"> {{element.mascota.colorMascota}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Fecha_Registro">
        <th mat-header-cell *matHeaderCellDef> Fecha de Registro </th>
        <td mat-cell *matCellDef="let element"> {{element.fecRegistro}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Nombre_dueño">
        <th mat-header-cell *matHeaderCellDef> Nombre del Dueño </th>
        <td mat-cell *matCellDef="let element"> {{element.mascota.cliente.nombre +' '+element.mascota.cliente.apellido }} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td  mat-cell *matCellDef="let element">

          <button style="margin-right: 0.5rem;" mat-mini-fab matTooltip="Warn" color="warn" aria-label="Example mini fab with a heart icon" (click)="eliminarPaciente(element.id)">
            <mat-icon>delete</mat-icon>
          </button>

          <button  mat-mini-fab matTooltip="Primary" color="primary" aria-label="Example mini fab with a heart icon" (click)="editarPaciente(element)">
            <mat-icon>edit</mat-icon>
          </button>

        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
</div>
